<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#da532c">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="{{ conv.base_url() }}/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="{{ conv.base_url() }}/css/style.css?time={{ time }}">
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body>
	<div class="page">
		<div class="head">
			<div class="head-content">
				{% if src_path == 'index.md' %}
				<div class="head-left"><span>lexbor</span></div>
				{% else %}
				<div class="head-left"><a href="{{ conv.make_url('/') }}">lexbor</a></div>
				{% endif %}
				<div class="head-right">
					<ul>
						<li><a href="{{ conv.make_url('download') }}">Download</a></li>
						<li><a href="{{ conv.make_url('docs/lexbor') }}">Documentation</a></li>
						<li><a href="{{ conv.make_url('support') }}">Support</a></li>
						<li><a href="{{ conv.make_url('license') }}">License</a></li>
						<li><a href="{{ conv.make_url('roadmap') }}">Roadmap</a></li>
					</ul>
				</div>
			</div>
		</div>
